<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="coin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <coin.My.MySettings>
            <setting name="URL" serializeAs="String">
                <value>C:\Users\dnasp\Desktop\index.html</value>
            </setting>
            <setting name="ScrapeAfter" serializeAs="String">
                <value />
            </setting>
            <setting name="ScrapeBegin" serializeAs="String">
                <value>&gt;</value>
            </setting>
            <setting name="ScrapeEnd" serializeAs="String">
                <value>&lt;</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="TimerFrequency" serializeAs="String">
                <value>333</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BarColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>415</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>261</value>
            </setting>
            <setting name="TimerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiscZoomLeft" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Note</value>
            </setting>
            <setting name="Sizeable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>coin</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Log" serializeAs="String">
                <value>Log
</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrapeReplace" serializeAs="String">
                <value>&gt;</value>
            </setting>
            <setting name="ScrapeReplaceW" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_0" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Wav" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorWav" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_1" serializeAs="String">
                <value>Red</value>
            </setting>
        </coin.My.MySettings>
    </userSettings>
</configuration>